@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --button: #6e54b5;
}

.light{
     --background: #f9f9f9;
     --background-muted: #EEEEED;
     --foreground: #222;
     --foreground-muted: #8a8888;
     --border: #222121;
     --border-muted: #bdbdbd;
}

.dark{
     --background: #121212;
     --background-muted: #2b2a2a;
     --foreground: #fffbfb;
     --foreground-muted: #b7b3b3;
     --border: #575555;
     --border-muted: #2f2d2d;
}
