package adminViews

import "RPJ-Overseas-Exim/yourpharma-admin/templ/layout"

templ Home(){
    <section>
        DashBoard
    </section>
}

templ HomeIndex(title string, cmp templ.Component){
    @layout.AdminLayout(title){
        @cmp
    }
}
