package adminView

import (
    "RPJ-Overseas-Exim/yourpharma-admin/templ/partials"
    "RPJ-Overseas-Exim/yourpharma-admin/dataset"
)

templ Customers(){
    <section class="w-full h-full p-2">
        <div class="flex items-center justify-between px-4 py-2">
            <div class="font-semibold text-xl">Customers</div>

            <div class="flex gap-x-2">
                @partials.Button("button", "bg-background hover:bg-background-muted py-2 px-4 border border-border-muted rounded flex items-center justify-center text-xs"){
                    <div class="text-xs">Download</div>
                }
                @partials.Button("button", "bg-background hover:bg-background-muted py-2 px-4 border border-border-muted rounded flex items-center justify-center"){
                    <div class="text-xs">Upload</div>
                }
            </div>
        </div>

        <div class="flex items-center w-full justify-end px-4">
            <div
            onclick="showForm(this)"
            class="px-4 py-2 border border-border-muted text-white bg-green-600 rounded mb-3">
                <span class="">Add Customer</span>
            </div>
            @partials.AddCustomerForm()
        </div>


        <div class="w-full border border-border-muted border-b-0 rounded overflow-auto">
            @partials.Table(""){
                @partials.CustomerTableHeader()
                @partials.CustomerTableRows(dataset.Customers)
            }
        </div>
    </section>
}
