package adminView

import "RPJ-Overseas-Exim/yourpharma-admin/templ/layout"

templ Home(){
    <section class="w-full h-full p-2">Home Page</section>
}

templ AdminIndex(title string, isLoggedIn bool, cmp templ.Component){
    @layout.Base(title, isLoggedIn){
        @cmp
    }
}


