package adminView

import (
    "RPJ-Overseas-Exim/yourpharma-admin/templ/partials"
	"RPJ-Overseas-Exim/yourpharma-admin/pkg/types"
	"fmt"
	"strings"
	"RPJ-Overseas-Exim/yourpharma-admin/templ/icons"
)

templ Orders(ordersData []types.Order, status string, products []types.Product, totalOrders int, customersString string, limit, page int){
    <section id="order-page" class="w-full h-full p-2 flex flex-col">
        <div>
            <div class="flex items-center justify-between p-2">
                <div class="font-semibold text-xl">Orders</div>

                <div class="flex gap-x-2">
                    @OrderImportForm()

                    <div
                        data-csv={customersString}
                        id="download-button"
                        onclick="downloadDataToCsv()"
                    >
                        @partials.Button("button", "bg-background hover:bg-background-muted py-2 px-4 border border-border-muted rounded flex items-center justify-center text-xs"){
                            Download
                        }
                    </div>
                </div>
            </div>

            <div class="flex justify-end mb-3 px-2">
                <button
                type="button"
                onclick="showForm(this)"
                class="cursor-pointer px-2 py-1 text-white bg-green-600 rounded flex gap-x-1 items-center">
                    <span class="text-sm">@icons.Add()</span>
                    <span class="text-sm font-normal whitespace-nowrap">Add Order</span>
                </button>
                @partials.AddOrderForm(products)
            </div>
        </div>

        <div class="flex border-b border-border-muted items-center w-full justify-between gap-x-2 px-4">
            <div class="flex overflow-auto">
                @FilterButton("All", status)
                @FilterButton("Active", status)
                @FilterButton("Paid", status)
                @FilterButton("Shipped", status)
                @FilterButton("Delivered", status)
            </div>
            
        </div>
        
        <div class="w-full h-full">
            <div class="mt-3 w-full border border-border-muted border-b-0 rounded overflow-auto">
                @partials.Table(""){
                    @partials.OrderTableHeader()
                    @partials.OrderTableRows(ordersData)
                }
            </div>
        </div>

        <div class="w-full">
            @partials.Pagination(totalOrders, limit, page, "/orders")
        </div>
    </section>
}

templ FilterButton(label string, status string){
    // check how to get the query from the url
    <a
        if status == strings.ToLower(label) || status == "" && label=="All" {
            class="px-2 pb-2 border-b border-green-600"
        }else{
            class="px-2 pb-2"
        }

        href={templ.URL(fmt.Sprintf("/orders?status=%s", strings.ToLower(label)))}
    >
        {label}
    </a>
}

templ OrderImportForm() {
	<form
		id="import-form"
		hx-encoding="multipart/form-data"
		hx-post="/orders/import"
		hx-swap="outerHTML"
        hx-target="#order-page"
	>
		@partials.Button("button", "bg-background hover:bg-background-muted border border-border-muted rounded flex items-center justify-center text-xs input-label") {
			<label for="csv-file" class="py-2 px-4 cursor-pointer">
				Import
			</label>
		}

		@partials.Button("submit", "bg-background hover:bg-background-muted border border-border-muted rounded flex items-center justify-center text-xs import-btn hidden") {
            <p class="py-2 px-4">
                Upload
            </p>
		}
		<input type="file" id="csv-file" name="csv-file" hidden/>
	</form>
}
