package adminView

import "RPJ-Overseas-Exim/yourpharma-admin/templ/partials"
import "RPJ-Overseas-Exim/yourpharma-admin/templ/icons"
import "RPJ-Overseas-Exim/yourpharma-admin/db/models"

templ Products(productsData []models.Product, totalProducts int, productsString string, limit, page int){
    <section id="product-page" class="w-full h-full p-2 flex flex-col">
        <div>
            <div class="flex items-center justify-between p-2">
                <div class="font-semibold text-xl">Products</div>

                <div class="flex gap-x-2">
                    <div>
                        @partials.Button("button", "bg-background hover:bg-background-muted py-2 px-4 border border-border-muted rounded flex items-center justify-center text-xs"){
                            <label for="csv-data">
                                Import
                            </label>
                        }
                        <input type="file" id="csv-data" name="csv-data" class="hidden">
                    </div>

                    <div
                        data-csv={productsString}
                        id="download-button"
                        onclick="downloadDataToCsv()"
                    >
                        @partials.Button("button", "bg-background hover:bg-background-muted py-2 px-4 border border-border-muted rounded flex items-center justify-center text-xs"){
                            Download
                        }
                    </div>
                </div>
            </div>

            <div class="flex items-center gap-x-2 mb-3 justify-end px-2">

                <button
                type="button"
                onclick="showForm(this)"
                class="cursor-pointer px-2 py-1 text-white bg-green-600 rounded flex gap-x-1 items-center">
                    <span class="text-sm">@icons.Add()</span>
                    <span class="text-sm font-normal whitespace-nowrap">Add Price</span>
                </button>
                @partials.AddPriceForm(productsData)

                <button
                type="button"
                onclick="showForm(this)"
                class="cursor-pointer px-2 py-1 text-white bg-green-600 rounded flex gap-x-1 items-center">
                    <span class="text-sm">@icons.Add()</span>
                    <span class="text-sm font-normal whitespace-nowrap">Add Product</span>
                </button>
                @partials.AddProductForm()

            </div>
        </div>

        <div class="w-full h-full">
            <div class="w-full border border-border-muted border-b-0 rounded overflow-auto">
                @partials.Table(""){
                    @partials.ProductTableHeader()
                    @partials.ProductTableRows(productsData)
                }
            </div>
        </div>

        <div class="w-full">
            @partials.Pagination(totalProducts, limit, page, "/products")
        </div>
    </section>
}
