package layout

import "RPJ-Overseas-Exim/yourpharma-admin/templ/components"

templ AdminLayout(title string){
    @Layout(title){
        <div class="w-full h-full">
                <div class="w-full h-full flex flex-col md:flex-row">
                    <nav class="w-full md:w-[30%] lg:w-[20%] h-[80px] md:h-full order-last md:order-first">
                        @components.Navbar()
                    </nav>
                    <main id="admin-content" class="w-full h-full overflow-x-hidden">
                        {children...}
                    </main>
                </div>
        </div>    
    }
}
