package layout

templ Layout(title string){
    <html>
        <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta
        name="description"
        content="Go/Echo+Templ+Htmx: Your Pharma Admin web app"
        />
        <meta name="google" content="notranslate"/>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <title>Your Pharma | {title}</title>
        </head>
        <body class="dark bg-background text-foreground">
            { children... }
        </body>
    </html>
}
