package partials

import "RPJ-Overseas-Exim/yourpharma-admin/dataset"
import "strconv"

templ CustomerForm(customer dataset.Customer){
    <div
        onclick="hideFormFromFilter(this)"
        id={"form-filter-" + strconv.Itoa(customer.OrderId)}
        class="hidden absolute w-full h-full top-0 left-0 bg-background-muted opacity-10"></div>
    <div
        id={"form-container-" + strconv.Itoa(customer.OrderId)}
        class="hidden absolute h-full top-0 right-0 bg-background rounded-tl-xl rounded-bl-xl px-4 py-2 border border-border"
    >
        <button
            type="button"
            onclick="hideFormFromContainer(this)"
            class="text-green-600 font-semibold text-xl"
        >Customer Details</button>

        <div class="w-full flex flex-col gap-y-2 mt-3">
            <div class="flex gap-x-2 items-center">
                <div class="text-foreground text-lg font-semibold">Name :</div>
                <div class="text-foreground-muted text-lg">{customer.Name}</div>
            </div>

            <div class="flex gap-x-2 items-center">
                <div class="text-foreground text-lg font-semibold">Email :</div>
                <div class="text-lg text-foreground-muted">{customer.Email}</div>
            </div>

            <div class="flex gap-x-2 items-center">
                <div class="text-foreground text-lg font-semibold">Address :</div>
                <div class="text-foreground-muted text-lg">{customer.Address}</div>
            </div>

            <div class="flex gap-x-2 items-center">
                <div class="text-foreground text-lg font-semibold">Phone No. :</div>
                <div class="text-foreground-muted text-lg">{customer.PhoneNo}</div>
            </div>

            <div class="w-full space-y-2">
                @Button("button", "w-full border border-border-muted rounded flex items-center justify-center py-2 hover:bg-background-muted text-lg font-semibold"){
                   Edit Customer 
                }
                @Button("button", "w-full border border-border-muted rounded flex items-center justify-center py-2 hover:bg-red-600 hover:text-white text-lg font-semibold"){
                   Delete Customer 
                }
            </div>
        </div>
    </div>
}

templ AddCustomerForm(){
    <div
        onclick="hideFormFromFilter(this)"
        id={"add-form-filter"}
        class="hidden absolute w-full h-full top-0 left-0 bg-background-muted opacity-10"></div>
    <form
        class="hidden absolute md:w-1/2 h-full top-0 right-0 bg-background rounded-tl-xl rounded-bl-xl px-4 py-2 border border-border"
    >
        <button
            type="button"
            onclick="hideFormFromContainer(this)"
            class="text-green-600 font-semibold text-xl"
        >Add Customer Details</button>
        <div>
            Customer form
        </div>
    </form>
}
