package partials

templ Spinner(attr templ.Attributes) {
    <div 
    class="htmx-indicator animate-spin border-background-muted border-l-foreground-muted transition rounded-full border-[3px]"
    { attr... }
    ></div>
}
