package partials

import (
    "RPJ-Overseas-Exim/yourpharma-admin/templ/icons"
    "strconv"
	"RPJ-Overseas-Exim/yourpharma-admin/pkg/types"
)

templ Table(tableStyle string){
    <table
        if len(tableStyle) == 0{
            class="w-full table-auto shadow-md rounded"
        }else{
            class={tableStyle}
        }
    >
        {children...}
    </table>
}

templ TableHeadCell(){
    <td class="text-center px-4 py-2 whitespace-nowrap">
        {children...}
    </td>
}

templ TableBodyCell(){
    <td
        class="text-center px-4 py-2 whitespace-nowrap"
    >
        {children...}
    </td>
}

// Product Table functions
templ ProductTableHeader(){
    <tr class="w-full text-foreground-muted border-b border-border-muted">
        @TableHeadCell(){ Product Name }
        @TableHeadCell(){ Product Quantity }
        @TableHeadCell(){ Product price }
        @TableHeadCell(){ Actions }
    </tr>
}

templ ProductTableRows(products []types.Product){
    for _, product := range(products) {
        <tr class="w-full text-foreground border-b border-border-muted hover:bg-background-muted">
            @TableBodyCell(){{ product.Name }}
            @TableBodyCell(){{ strconv.Itoa(product.Qty) }}
            @TableBodyCell(){{ strconv.Itoa(product.Price) }}
            @TableBodyCell(){
                <div
                onclick="showForm(this)"
                class="">
                    @Button("button", "w-full flex text-foreground-muted hover:text-foreground items-center justify-center"){
                        @icons.Options ()
                    }
                </div>
                @ProductForm(product)
            }
        </tr>
    }
}


// Customer Table functions
templ CustomerTableHeader(){
    <tr class="w-full text-foreground-muted border-b border-border-muted">
        @TableHeadCell(){ Name }
        @TableHeadCell(){ Email }
        @TableHeadCell(){ Address }
        @TableHeadCell(){ Phone No. }
        @TableHeadCell(){ Actions }
    </tr>
}

templ CustomerTableRows(customers []types.Customer){
    for _, customer := range(customers){
        <tr class="w-full text-foreground border-b border-border-muted hover:bg-background-muted">
            @TableBodyCell(){{ customer.Name }}
            @TableBodyCell(){{ customer.Email }}
            @TableBodyCell(){{ customer.Address }}
            @TableBodyCell(){{ strconv.Itoa(*customer.Number) }}
            @TableBodyCell(){
                <div
                onclick="showForm(this)"
                class="">
                    @Button("button", "w-full flex text-foreground-muted hover:text-foreground items-center justify-center"){
                        @icons.Options ()
                    }
                </div>
                @CustomerForm(customer)
            }
        </tr>
    }
}


// Order Table functions
templ OrderTableHeader(){
    <tr class="w-full text-foreground-muted border-b border-border-muted">
        @TableHeadCell(){ OrderId }
        @TableHeadCell(){ Name }
        @TableHeadCell(){ Email }
        @TableHeadCell(){ Product }
        @TableHeadCell(){ Price }
        @TableHeadCell(){ Status }
        @TableHeadCell(){ Origin }
        @TableHeadCell(){ Actions }
    </tr>
}

templ OrderTableRows(orders []types.Order){
    for _, order := range(orders){
        <tr class="w-full text-foreground border-b border-border-muted hover:bg-background-muted">
            @TableBodyCell(){{ order.Id }}
            @TableBodyCell(){{ order.Name }}
            @TableBodyCell(){{ order.Email }}
            @TableBodyCell(){{ order.Product }}
            @TableBodyCell(){{ strconv.Itoa(order.Price) }}
            @TableBodyCell(){
                <div class="px-2 rounded-xl bg-green-600 text-white">
                    {order.Status}
                </div>
            }
            @TableBodyCell(){
                <div class="px-2 rounded-xl bg-green-800 text-white">
                    {order.Origin}
                </div>
            }
            @TableBodyCell(){
                <div
                onclick="showForm(this)"
                class="">
                    @Button("button", "w-full flex text-foreground-muted hover:text-foreground items-center justify-center"){
                        @icons.Options ()
                    }
                </div>
                @OrderForm(order)
            }
        </tr>
    }
}
