package partials

import "RPJ-Overseas-Exim/yourpharma-admin/templ/icons"

templ UserForm(){
    <div
        onclick="hideFormFromFilter(this)"
        id={"add-form-filter"}
        class="hidden absolute w-full h-full top-0 left-0 bg-background-muted opacity-10"></div>
    <form
        hx-post="/users"
        hx-target="#users-page"
        hx-swap="outerHTML"
        hx-indicator="#add-user-btn"
        class="hidden absolute md:w-1/3 h-full top-0 right-0 bg-background rounded-tl-xl rounded-bl-xl px-4 py-2 border border-border"
    >
        <button
            type="button"
            onclick="hideFormFromContainer(this)"
            class="text-green-600 font-semibold text-xl flex gap-x-2 items-center mb-3"
        >
            @icons.Back()
            <span class="whitespace-nowrap">Add User Details</span>
        </button>

        <div class="space-y-3">
            @UserEmailFormField(
                "User Email",
                "Enter user email",
                "email",
                "",
                "true",
            )
            
            @UserTextFormField(
                "User Password",
                "Enter password",
                "password",
                "",
                "true",
            )
        </div>
        <div class="w-full space-y-2 mt-5">
                @Button(
                    "submit",
                    "w-full border border-border-muted rounded flex items-center justify-center gap-2 py-2 hover:bg-background-muted text-lg font-semibold",
                ){
                   Add User 
                   @Spinner(templ.Attributes{"id": "add-user-btn", "style": "height:1.2em;width:1.2em;"})
                }
                @Button(
                    "reset",
                    "w-full border border-border-muted rounded flex items-center justify-center py-2 hover:bg-red-600 hover:text-white text-lg font-semibold",
                ){
                   Reset
                }
            </div>

    </form>
}

templ UserTextFormField(label, placeholder, name, value, required string){
    <div class="flex flex-col gap-y-2">
        <label
            for={name}
            class="text-left text-semibold text-lg"
        >
            {label}
            if required == "true"{
                *
            }
        </label>
        <input
            class="px-4 text-lg border-b border-border bg-transparent active:outline-none hover:outline-none py-0"
            type="text"
            name={name}
            id={name}
            placeholder={placeholder}
            if len(value) != 0 {
                value={value}
            }
            if required == "true" {
                minlength="3"
                required
            }
        />
    </div>
}

templ UserEmailFormField(label, placeholder, name, value string, required string){
    <div class="flex flex-col gap-y-2">
        <label
            for={name}
            class="text-left text-semibold text-lg"
        >
            {label}
            if required == "true"{
                *
            }
        </label>
        <input
            class="px-4 text-lg border-b border-border bg-transparent active:outline-none hover:outline-none py-0"
            type="email"
            name={name}
            id={name}
            placeholder={placeholder}
            if len(value) != 0 {
                value={value}
            }
            if required == "true" {
                required
            }
        />
    </div>
}

templ UserPasswordFormField(label, placeholder, name string, value *int, required string){
    <div class="flex flex-col gap-y-2">
        <label
            for={name}
            class="text-left text-semibold text-lg"
        >
            {label}
            if required == "true"{
                *
            }
        </label>
        <input
            class="px-4 text-lg border-b border-border bg-transparent active:outline-none hover:outline-none py-0"
            type="password"
            name={name}
            id={name}
            placeholder={placeholder}
            if required == "true" {
                required
            }
        />
    </div>
}
