package ui

templ Button(buttonText, buttonType string){
    <button type={buttonType}
    class="bg-button text-lg uppercase font-semibold text-foreground w-full py-2 rounded-xl">
        {buttonText}
    </button>
}
