package authView

import (
    "RPJ-Overseas-Exim/yourpharma-admin/templ/layout"
    "RPJ-Overseas-Exim/yourpharma-admin/templ/partials"
)

templ Login(msg string){
    <section class="flex items-center justify-center w-full h-full bg-gradient-to-b from-blue-800 to-black">
        <div class="flex items-center flex-col gap-y-4 bg-background py-2 rounded-lg border border-border">
            <h2 class="text-foreground text-xl font-bold">Login</h2>

            <hr class="w-full border-t border-border"/>

            <form
                method="POST"
                action="/"
                class="flex flex-col gap-y-2 px-4"
            >
                @partials.FormField("Email", "email", "email", "Enter your email", "", "", "")
                @partials.FormField("Password", "password", "password", "Enter your password", "", "", "")

                @partials.Button("submit", ""){
                    <span>Login</span>
                }
            </form>
            <div class="text-red-600 text-lg font-semibold">{msg}</div>
        </div>
    </section>
}

templ LoginIndex(title string, isLoggedIn bool, cmp templ.Component){
   @layout.Base(title, isLoggedIn){
        @cmp
   }
}
